{{page-title "Ember Velcro"}}

<p id="reference">Reference</p>
<p {{velcro "#reference"}}>Floating</p>

<hr>

<Velcro as |velcroTarget velcro|>
  <p {{velcroTarget}}>Velcro target</p>
  <p {{velcro}}>Velcro</p>
</Velcro>
